@charset "UTF-8";

$color-night: rgba(0,0,0,.7);
$color-day: rgba(255,255,255,1);
$color-black: #353535;
$color-orange: orange;
$color-font-gray: #969696;
$color-bg-gray: #f8f9fb;
$color-active: #19cccc;  // 此app基准色

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  max-width: 750px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  /* base iphone6 */
  font: 10px 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', STHeitiSC-Light, 'Microsoft YaHei', Arial, sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
  &scrollbar {
    display: none;
  }
}

.clear-fix {
  content: "";
  display: inline-block;
  //height: 0;
  clear: both;
}

.hide {
  display: none !important;
}

a {
  color: #333;
  text-decoration: none;
}

a:active {
  color: #333;
  background: transparent;
}

ul li {
  list-style: none;
}
