* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  max-width: 750px;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  /* base iphone6 */
  font: 10px 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', STHeitiSC-Light, 'Microsoft YaHei', Arial, sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
  &scrollbar {
    display: none;
  }
}

.clear-fix {
  content: "";
  display: inline-block;
  //height: 0;
  clear: both;
}

.hide {
  display: none !important;
}

a {
  color: #333;
  text-decoration: none;
}

a:active {
  color: #333;
  background: transparent;
}

ul li {
  list-style: none;
}
