.login-wrap,
.signup-wrap {
  height: 100%;
  background: #fff;
  .login-content,
  .signup-content {
    padding: 0 3rem;
    .head {
      //font-size: 1.6rem;
      //text-align: center;
      padding: 3rem 0 3rem 0;
      .signup-avatar {
        .upload-avatar,
        .default-avatar {
          display: block;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          border: 1px solid #999;
          background-size: 8rem 8rem;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        .default-avatar {
          background: url("../../assets/public/me.png") no-repeat;
          background-size: 8rem 8rem;
        }
        .avatar {
          //visibility: hidden;
          display: none;
        }
      }
      .title {
        margin: 0.25rem 0;
      }
    }
    .form-content {
      .input-wrap {
        font-size: 1.4rem;
        position: relative;
        &:last-child {
          border-bottom: 0;
        }
        //height: 1.7rem;
        border-bottom: 1px solid #ededed;
        .showPwd {
          width: 23px;
          height: 100%;
          position: absolute;
          right: 0.5rem;
          top: 1rem;
          img {
            width: 100%;
            margin-top: 0.8rem;
          }
        }
        .ipt {
          width: 87%;
          height: 4rem;
          line-height: 4rem;
          border: none;
          margin: 1rem 0 0;
          text-indent: 10px;
        }
        .account {
        }
        .pwd {
          width: 79%;
        }
        .login-btn,
        .signup-btn {
          text-align: center;
          display: inline-block;
          text-decoration: none;
          width: 100%;
          margin-top: 5rem;
          color: #fff;
          border-radius: 4px;
          height: 5rem;
          line-height: 5rem;
          font-size: 1.5rem;
          background: #f84e4e;
          &:disabled {
            background: #ddd !important;
          }
        }
      }
      .action-account {
        margin-top: 2rem;
        a {
          color: #03c5ff;
        }
        .ro-find-pwd {
          float: right;
        }
      }
    }
  }
}
